@model TECMES.Models.OrdemProducao
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_LayoutOrdemProducao.cshtml";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Alterar Ordens Criadas</h5>
        <hr />
        <a class="btn btn-primary" asp-action="Pedidos"><i class="fa fa-arrow-left"></i> Voltar </a>
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                <form asp-action="AlterarOrdemStatus">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="PedidoID" class="control-label"></label>
                        <select asp-for="PedidoID" readonly="readonly" class="form-control" asp-items="ViewBag.PedidoID"></select>
                        <span asp-validation-for="PedidoID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProdutoID" class="control-label"></label>
                        <select asp-for="ProdutoID" class="form-control" asp-items="ViewBag.ProdutoID"></select>
                        <span asp-validation-for="ProdutoID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StatusID" class="control-label"></label>
                        <select asp-for="StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
                        <span asp-validation-for="StatusID" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Editar" class="btn btn-success btn-lg btn-block btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>

    @section Scripts {

        @if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <script type="text/javascript">
                 toastr.success("@ViewBag.Success");
            </script>
        }

    }

</div>


